html,
body {
  margin: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #fafbfc;
  font-family: Roboto, RobotoDraft, Meiryo, Helvetica, Arial, sans-serif;
  letter-spacing: 0.7px;
  box-sizing: border-box;
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
